@model IEnumerable<Order>

@{
}
<div style="width:100%" class="mt-2">
    <a href="/Identity/Account/Manage" class="btn btn-primary my-4">Quay lại</a>

    <div class="">

        <h4>Danh sách truyện của tôi</h4>
    </div>
    @if (Model != null && Model.Count() > 0)
    {
        <table class="table table-striped">
            @foreach (var order in Model)
            {
               
                @if (order.OrderDetail != null && order.OrderDetail.Count > 0)
                {
                    <tr>
                        <td>
                            <table class="table table-striped">
                                <tr>
                                    <th>Truyện tranh</th>
                                    <th>Hình ảnh</th>
                                    <th>Thể loại</th>
                                    
                                </tr>
                                @foreach (var item in order.OrderDetail)
                                {
                                    <tr>
                                        <td class="w-50">@item.Book.BookName</td>
                                        <td>
                                            @if (string.IsNullOrEmpty(item.Book.Image))
                                            {
                                                <img src="/images/AnhTruyen/NoImage.png" style="width:80px;height:100px" />
                                            }
                                            else
                                            {
                                                <img src="/images/AnhTruyen/@item.Book.Image" style="width:80px;height:100px" />
                                            }
                                        </td>
                                        <td>@item.Book.Genre.GenreName</td>
                                        
                                    </tr>
                                }
                            </table>
                        </td>
                    </tr>
                }
            }
        </table>
        @* <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.BookName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.AuthorName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Price)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Image)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Genre)
                    </th>
                    <th>
                        Has image
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.BookName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AuthorName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Price)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Image)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Genre)
                        </td>
                        <td>
                            <i class="@HasImage(item)"></i>
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary"><i class="fa-solid fa-pen-to-square"></i></a>
                            <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-success"><i class="fa-solid fa-circle-info"></i></a>
                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger"><i class="fa-solid fa-trash-can"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table> *@
    }
    else
    {
        <div class="mt-5">
            <h5>Không có truyện nào!!!</h5>
        </div>
    }
</div>




